			 <select name="cat" class="button form" onchange="$(&#39;#form_search_5601795&#39;).submit()" style="width: 28%">
				 <option value="0">Toutes les catégories</option>
				 <option value="15180">Emploi</option>
				 <option value="15158">Conseils Municipaux</option>
				 <option value="15034">Vie Locale</option>
				 <option value="15038">Culture</option>
				 <option value="15037">Patrimoine</option>
				 <option value="15036">Loisirs</option>
				 <option value="15035">Sport</option>
			 </select>
