<div class="z_colonne main-colonne" id="z_col2">
<div class="z_col_median z_col2_inner z_col_fullheight" style="height: 917px;">
<div id="mod_5601817" class="mod_5601817 wm-module fullbackground  module-page2_restriction">
	 <div class="entete"><div class="fullmod">
		 <span>Section restreinte</span>
	 </div></div>
	 <div id="full_5601817" class="cel1">
		 <br>
		 <div class="titre"><div>Connectez-vous à votre compte</div>
		 </div>
		 <form id="login_form" action="/classifieds/submit/" method="post">
			 <input type="hidden" name="preaction" value="">
			 <input type="hidden" name="iboxaction" value="login">
			 <input type="hidden" name="rident" value="true">
			 <div class="pave_left larg4p">
				 <div class="texte enter_ident"><b>Entrez vos identifiants de connexion</b></div>
				 <div class="texte info_champ">Login :</div>
				 <input type="" id="r_login" name="r_login" class="button" value="" onfocus="del_error('r_login');del_error('r_password')">
				 <div class="texte info_champ">Mot de passe :</div>
				 <input type="password" id="r_password" name="r_password" class="button" value="" onfocus="del_error('r_login');del_error('r_password')">
				 <div id="error_r_login" class="error"></div>
					 <div class="liens passperdu"><a href="/members/pass/">Mot de passe perdu ?</a></div>
				 <div class="submit">
					 <input type="submit" class="button2" value="Se connecter">
					 <input type="checkbox" id="r_retain" name="r_retain" value="1"><label for="r_retain" class="inline texte">Se souvenir de moi</label>
				 </div>
			 </div>
			 <div class="sep_bottom"></div>
			 <div class="left resume_center larg3p">
				 <div class="liens resume_center"></div>
			 </div>
			 <div class="clear"></div>
		 </form>
	 </div>
</div>
<div id="ecart_after_5601817" class="ecart_col2"><hr></div>
</div>
</div>