<div class="cel1">
		 <h2 class="titre_chambre">Les forums</h2><br>
		 <table class="tab_chambre" cellspacing="0">
			 <tbody><tr>
				 <td class="entetecol1"><div class="navi_left">Chambre</div></td>
				 <td class="entetecol2"><div class="navi">Sujets</div></td>
				 <td class="entetecol3"><div class="navi">Derniers posts</div></td>
			 </tr>
			 <tr class="bg_normal">
				 <td class="col1">
					 <h3 class="ctitre">
						 <a href="/forum/Sujets-libre_s13277.html">Sujets libre</a>
					 </h3>
					 <div class="description">Vous pouvez parler de tout ce que vous voulez. Vous avez Carte Blanche.</div>
				 </td>
				 <td class="col2">
					 <div class="center"><span class="statistiques">17</span></div>
				 </td>
				 <td class="col3">
					 <div class="center"><span class="description">Aujourd'hui - 00:58</span></div>
				 </td>
			 </tr>
			 <tr class="bg_normal">
				 <td class="col1">
					 <h3 class="ctitre">
						 <a href="/forum/Actualites_s13276.html">Actualités</a>
					 </h3>
					 <div class="description">Toute l'actualité média</div>
				 </td>
				 <td class="col2">
					 <div class="center"><span class="statistiques">26</span></div>
				 </td>
				 <td class="col3">
					 <div class="center"><span class="description">Vendredi 17 Juin</span></div>
				 </td>
			 </tr>
			 <tr class="bg_normal">
				 <td class="col1">
					 <h3 class="ctitre">
						 <a href="/forum/Rumeurs_s13275.html">Rumeurs</a>
					 </h3>
					 <div class="description">Toutes les rumeurs médias ultramarines</div>
				 </td>
				 <td class="col2">
					 <div class="center"><span class="statistiques">0</span></div>
				 </td>
				 <td class="col3">
					 <div class="center"><span class="description">Mercredi 28 Avril 2021</span></div>
				 </td>
			 </tr>
		 </tbody></table>
	 </div>