<div class="cel1safe" style="width:100%">
<%=render "myarticle", article: articles[0],alignme: "left"%>			
<%=articles[1] ? (render "myarticle", article: articles[1],alignme: "right") : nil%>			
<div class="clear"></div>
</div>