 <div class="cel1">
		 <h3 class="titre">
			 <a href="<%=breve.myurl%>">
				 <%=breve.titre%>
			 </a><span class="date">&nbsp;<%=l(breve.date)%></span>
		 </h3>
		 <div class="texte">
<%=strip_tags(breve.content)%>
		 </div>
		 <div class="clear"></div>
			 <div class="pj">
			 </div>
		 <br class="clear" />
	 </div>