        <!-- page2_commentaire -->
        <a id="comments"></a>
        <div id="mod_24606320" class="param_commentaire mod_24606320 wm-module fullbackground ">
                <div class="cel1">
                         <%=render collection: article.comments, partial: "commentarticle", as: :comment%>

                        <a id="last_comment"></a>
                <div id="div_form_comment">
                        <a id="infoscom"></a>
 <%if notice%>
				 <div id="infos_fond_div" style=""><%=notice%></div>
				 <%end%>
                        <div id="title_new_comment" class="infos">Nouveau commentaire : </div>
                        <%=render "formcommentarticle1", article: article, comment: comment%>
                </div>
        </div>
        </div>

</div>
