
		 <form action="/mymodule/24606308/" method="post" enctype="multipart/form-data" class="profile_form" onsubmit="this.target='iframe_save_24606308'">
			 <div class="bloc_ibox" style="margin-bottom:0">
			 <div class="titre" style="margin-bottom:0">Photo</div>
			 <div class="sep"></div>
			 <div class="item">
			 <label class="ssmenu">Ajoutez une photo à votre profil : </label>
			 </div>
			 <div class="texte item">Vous pouvez télécharger un fichier image au format JPG, GIF ou PNG (largeur maximale 1280px).</div>
			 <input type="hidden" name="java" value="false" />
			 <input type="hidden" name="ajax" value="true" />
			 <input type="hidden" name="iboxaction" value="photo" />
			 <div class="item">
			 <input type="file" size="30" class="button" name="a_photo" />
			 </div>
			 <input type="submit" class="button2" value="Envoyer" />
			 </div>
		 </form>