
<!-- ********************************************** COLONNE 1 ********************************************** -->
<div class="z_colonne main-colonne" id="z_col2">
<div class="z_col_median z_col2_inner">
<div id="mod_24606331" class="mod_24606331 wm-module fullbackground  module-page2_soumettre type-soum_annonce">
	 <div class="cel1">
		 <%=render "formnewclassified", product: @product%>
</div>
<div id="ecart_after_24631131" class="ecart_col2"><hr></div>

<!-- likebox 24606561 -->
<div id="ecart_before_24606561" class="ecart_col2 responsive" style="display:none"><hr></div>
<div id="mod_24606561" class="mod_24606561 wm-module fullbackground  module-likebox">
	 <div class="cel1">
		 <div class="fb-container" style="width:301px">
			 <div class="fb-page" data-href="http://www.facebook.com/megazapmedia" data-width="500" data-hide-cover="false" data-show-posts="false" data-show-facepile="true" data-height="">
        </div>
		 </div>
	 </div>
</div>
<div id="ecart_after_24606561" class="ecart_col2"><hr></div>

<!-- ********************************************** FIN COLONNE 2 ****************************************** -->

<%=content_for :myscripts do%>
<script type="text/javascript" src="/js/myphotos.js"/>
                    
                
<%end%>