 <a id="profil_photo" href="javascript:void(0)" rel="nofollow" onclick="showIbox('/mymodule/5601793/?type=3&amp;ajax=true&amp;java=false&amp;iboxaction=photo');">
<img src="/userfiles/<%=current_user.image%>" width="180" height="180" alt="Ajoutez une photo à votre profil" title="Ajoutez une photo à votre profil" />
</a>