<div class="z_colonne main-colonne" id="z_col2">
<div class="z_col_median z_col2_inner z_col_fullheight">
<div id="mod_5601819" class="mod_5601819 wm-module fullbackground  module-page2_soumettre type-soum_annuaire">
	 <div class="entete"><div class="fullmod">
		 <span>Soumettre un lien</span>
	 </div></div>
	 <div class="cel1">
		<%=render "formlinks", link: @link%>
	 </div>
</div>
<div id="ecart_after_5601819" class="ecart_col2"><hr /></div>
<div class="homecrump center">
	 <div class="clear separate"><hr /></div>
	 <a href="https://www.saintlaurentdumaroni.fr/"><img src="https://www.saintlaurentdumaroni.fr/photo/bt_home.png?v=1349942074" class="image" alt="" title=""  /></a>
</div>
</div>
</div>