<div class="z_colonne" id="z_col2">
<div class="z_col_median z_col2_inner z_col_fullheight">

<!-- login 24606383 -->
<div id="mod_24606383" class="mod_24606383 wm-module fullbackground module-responsive  module-login type-3">
	 <div class="entete"><div class="fullmod">
		 <span>S'identifier</span>
	 </div></div>
	 <div class="cel1">
		 <div class="liens"><a href="javascript:void(0)" onclick="showIbox('/index.php?preaction=ajax&amp;action=restriction&amp;iboxaction=login&amp;ABSOLUTE_HREF=/subscription/')">Se connecter</a> | <a href="/subscription/">S'inscrire</a></div>
	 </div>
</div>
<div id="ecart_after_24606383" class="ecart_col2"><hr /></div>

<!-- recherche 24631131 -->
<div id="ecart_before_24631131" class="ecart_col2 responsive" style="display:none"><hr /></div>
<div id="mod_24631131" class="mod_24631131 wm-module fullbackground  recherche type-2">
	 <form id="form_24631131" action="/search/" method="get" enctype="application/x-www-form-urlencoded" >
		 <div class="cel1">
			 			 <span><span class="cel">
<input type="text" style="width:200px" id="keyword_safe_24631131" name="keyword_safe_24631131" value="Recherche" class="button" onfocus="this.style.display='none'; document.getElementById('keyword_24631131').style.display='inline'; document.getElementById('keyword_24631131').focus()" /><input type="text" style="display:none;width:200px" id="keyword_24631131" name="keyword" value="" class="button" onblur="if (this.value == '') {this.style.display='none'; document.getElementById('keyword_safe_24631131').style.display='inline';}"  />			 </span><span class="cel">
<input type="image" src="/photo/mod-24631131-1.png?v=1538159461" alt="OK" />
			 </span></span>
			 <div class="avance" style="margin-top:5px">
				 <a href="/search/?avance=1">Recherche avancée</a>
			 </div>
		 </div>
	 </form>
</div>
<div id="ecart_after_24631131" class="ecart_col2"><hr /></div>

</div>
</div>