	 <div class="cel1">
		 <br class="titre_photo" />
		 <div class="image">
			 <a href="javascript:void(0)" onclick="showIbox('/index.php?preaction=galerie&amp;id_photo=<%=@photo.id_photo%>&amp;noinfo=1&amp;ibox&amp;autoclose=1')"><img src="<%=@photo.grandeimage%>?v=1581418840"  alt="96" title="96" /></a>
			 		 </div>
	 </div>