<div class="z_colonne main-colonne" id="z_col2">
<div class="z_col_median z_col2_inner">
<div id="mod_24606331" class="mod_24606331 wm-module fullbackground  module-page2_soumettre type-soum_annonce">
	 <div class="cel1">
		 <%=render "formclassifiedjob", job: @job%>
	 </div>
</div>
<div id="ecart_after_24606331" class="ecart_col2"><hr /></div>
</div>
</div>
<%=content_for :myscripts do%>
<script type="text/javascript" src="/js/myphotos.js"/>
                    
                
<%end%>