<div class="z_colonne main-colonne" id="z_col2">
<div class="z_col_median z_col2_inner z_col_fullheight" style="height: 917px;">
<div id="breads" class="breadcrump breadcrumbs">
	 <a href="https://www.saintlaurentdumaroni.fr/">Accueil</a>
	 <span class="sepbread">&nbsp;&gt;&nbsp;</span>
	 <a href="/notes/">Brèves</a>
	 <div class="clear separate"><hr></div>
</div>
<div id="mod_5601807" class="mod_5601807 wm-module fullbackground  module-page2_breve">
	 <div class="entete"><div class="fullmod">
		 <span>Brèves</span>
	 </div></div>
	 <div class="cel1">
		 <h3 class="titre">
			 <span class="titre_a">
				 Concert gratuit au Camp de la Transportation 
			 </span><span class="date">&nbsp;08/03/2013</span>
		 </h3>
		 <div class="texte">
			 Ce soir vous avez rendez vous à 19h au Camp de la Transportation pour un concert gratuit avec Ronald Tulle, Sylviane Rogier et la classe de l'Ecole de Musique
		 </div>
		 <div class="clear"></div>
		 <br class="clear">
	 </div>
	 <div class="cel1">
		 <div class="pager">
			 <a href="/notes/">Retour à la liste des brèves</a>
		 </div>
	 </div>
</div>
<div id="ecart_after_5601807" class="ecart_col2"><hr></div>
<div class="homecrump center">
	 <div class="clear separate"><hr></div>
	 <a href="https://www.saintlaurentdumaroni.fr/"><img src="https://www.saintlaurentdumaroni.fr/photo/bt_home.png?v=1349942074" class="image" alt="" title=""></a>
</div>
</div>
</div>