<div class="z_colonne main-colonne" id="z_col2">
<div class="z_col_median z_col2_inner z_col_fullheight">
<div id="mod_5601819" class="mod_5601819 wm-module fullbackground  module-page2_soumettre type-article">
	 <div class="entete"><div class="fullmod">
		 <span>Recommandez cet article à un ami</span>
	 </div></div>
	 <div class="cel1">
		 <%=render "formsendart", email: @email %>
	 </div>
</div>
<div id="ecart_after_5601819" class="ecart_col2"><hr /></div>
<div class="homecrump center">
	 <div class="clear separate"><hr /></div>
	 <a href="/"><img src="/photo/bt_home.png?v=1349942074" class="image" alt="" title=""  /></a>
</div>
</div>
</div>
<%=content_for :mysheet do%>
<link href="/style.5601819.css" rel="stylesheet" type="text/css">

<%end%>
<%=content_for :mapgoogle do%>
<script src="/js/form.js?v=1291969975" type="text/javascript"></script>

<%end%>