<div class="z_colonne main-colonne" id="z_col2">
<div class="z_col_median z_col2_inner">
<div id="mod_24606328" class="mod_24606328 wm-module fullbackground  page2_recherche">
	 <form action="/search/" method="get" >
		 <div class="cel1">
			 <input type="text" style="width:50%" name="keyword" value="combat amour" class="button" />
			 <input type="image" src="/_images/icones/ok_5.png?v=1213798463" alt="OK" title="OK" />
			 <br /><a id="adv_search_label" href="javascript:void(0)" onclick="document.getElementById('adv_search').style.display = (document.getElementById('adv_search').style.display == 'none' ? 'block' : 'none')" class="texte">Recherche avancée</a>
			 <div id="adv_search" style="display:none" class="advanced texte">
				 <div class="line"><strong>Filtres de recherche</strong></div>
				 <div class="line">
					 <label>Titre</label>
					 <input type="text" class="button" name="titre" value="" />
					 <div class="clear"></div>
				 </div>
				 <div class="line">
					 <label>Chapeau</label>
					 <input type="text" class="button" name="chapeau" value="" />
					 <div class="clear"></div>
				 </div>
				 <div class="line">
					 <label>Texte</label>
					 <input type="text" class="button" name="texte" value="" />
					 <div class="clear"></div>
				 </div>
				 <div class="line">
					 <label>Tags</label>
					 <input type="text" class="button" name="tagsearch" value="" />
					 <div class="clear"></div>
				 </div>
				 <div class="line"><strong>Plus d'options</strong></div>
				 <div class="line_menu">
					 <label>Periode</label>
					 <div class="select texte" style="z-index: 1000">
						<select name="periode" class="button">
							<option value="0" selected="selected">Depuis le début</option>
							<option value="10">10 derniers jours</option>
							<option value="30">30 derniers jours</option>
							<option value="60">60 derniers jours</option>
							<option value="90">90 derniers jours</option>
						</select>
					 </div>
					 <div class="clear"></div>
				 </div>
				 <div class="line_menu">
				 <label>Rubrique</label>
					 <div class="select texte" style="z-index: 999">
						<select name="id_rubrique" class="button">
							<option value="" selected="selected">Toutes</option>
							<option value="808562">Actualités</option>
							<option value="821319">- Maurice</option>
							<option value="821320">- Maurice</option>
							<option value="808592">Communiqué de Presse</option>
							<option value="838144">Forum</option>
							<option value="866161">TV / SVOD</option>
							<option value="949274">Nationale</option>
							<option value="967881">TECHNOLOGIE</option>
							<option value="1001758">Tarifs  annonceurs</option>
							<option value="1099447">Infos Com</option>
							<option value="1112448">Musique</option>
							<option value="1141874">Éssentiel 4G</option>
							<option value="1357899">Présidentielle 2017</option>
							<option value="2400087">Presse</option>
							<option value="2810407">Radio</option>
							<option value="2853142">Divers</option>
							<option value="3263366">Évènements</option>
							<option value="3414457">Mentions légales</option>
							<option value="3726983">Info Megazap</option>
							<option value="3783181">Partenariat</option>
							<option value="3797197">Internationale</option>
							<option value="4431821">Culture</option>
							<option value="7448110">Société</option>
							<option value="8853346">Megasports</option>
							<option value="9039520">GRAND RAID</option>
							<option value="9465222">Interview</option>
						</select>
						</div>
					 <div class="clear"></div>
				 </div>
				 <div class="line">
					 <label>Auteur</label>
					 <input type="text" class="button" name="auteur" value="" />
					 <div class="clear"></div>
				 </div>
				 <div class="submission">
			 <input type="submit" name="x" class="button2" value="Rechercher" />
				 </div>
			 </div>
		 </div>
	 </form>
	 <div class="cel1">
		 <div class="rubrique">24 Résultats pour votre recherche : combat amour</div>
	 </div>
		 <br class="rubrique" />
	 <div class="result cel1 first">
			 <h3 class="titre" style="margin-bottom:5px">
				 <a  href="/La-serie-indienne-Le-combat-pour-l-amour-arrive-des-le-27-fevrier-sur-Antenne-Reunion_a8969.html">La série indienne "Le combat pour l'amour" arrive dés le 27 février sur Antenne Réunion</a>
			 </h3>
		 <div class="photo 16_9 shadow" >
			 <a href="/La-serie-indienne-Le-combat-pour-l-amour-arrive-des-le-27-fevrier-sur-Antenne-Reunion_a8969.html">
				 <img src="/photo/art/medium_16_9/62624336-45343991.jpg?v=1645771047" alt="La série indienne &quot;Le combat pour l'amour&quot; arrive dés le 27 février sur Antenne Réunion" title="La série indienne &quot;Le combat pour l'amour&quot; arrive dés le 27 février sur Antenne Réunion"  />
			 </a>
		 </div>
			 <div class="bloc-texte">
			 <div class="rubrique"><a rel="author" href="/author/ludovic/">Belzamine Ludovic</a>  | 25/02/2022<span class="sep seprub"> | </span><span class="rub">Actualités</span></div>
			 <div class="texte">
				 <a href="/La-serie-indienne-Le-combat-pour-l-amour-arrive-des-le-27-fevrier-sur-Antenne-Reunion_a8969.html">Nouveau ! Ce dimanche 27 février dés 10h50, Antenne Réunion donnera le coup d'envoi de "Le combat pour l'amour". Une telenovela indienne où se mêlera amour, haine et trahison comme intrigue qui met en vedette l'actrice Jasmin Bhasin.   La chaîne privée réunionnaise proposera deux épisodes chaque...</a>
			 </div>
			 <div class="rubrique">
				 <a  href="/tags/Antenne+R%C3%A9union/">Antenne Réunion</a>
			 </div>
			 </div>
		 <div class="clear"></div>
		 <br class="texte" />
	 </div>
	 <div class="result cel1">
			 <h3 class="titre" style="margin-bottom:5px">
				 <a  href="/Pantheonisation-de-Josephine-Baker-Le-Pole-Outre-Mer-de-France-Televisions-devoile-leur-dispositif_a8458.html">Panthéonisation de Joséphine Baker : Le Pôle Outre-Mer de France Télévisions dévoile leur dispositif</a>
			 </h3>
		 <div class="photo 16_9 shadow" >
			 <a href="/Pantheonisation-de-Josephine-Baker-Le-Pole-Outre-Mer-de-France-Televisions-devoile-leur-dispositif_a8458.html">
				 <img src="/photo/art/medium_16_9/60017682-43989677.jpg?v=1636007334" alt="Panthéonisation de Joséphine Baker : Le Pôle Outre-Mer de France Télévisions dévoile leur dispositif" title="Panthéonisation de Joséphine Baker : Le Pôle Outre-Mer de France Télévisions dévoile leur dispositif"  />
			 </a>
		 </div>
			 <div class="bloc-texte">
			 <div class="rubrique"><a rel="author" href="/author/ludovic/">Belzamine Ludovic</a>  | 30/11/2021<span class="sep seprub"> | </span><span class="rub">Actualités</span></div>
			 <div class="texte">
				 <a href="/Pantheonisation-de-Josephine-Baker-Le-Pole-Outre-Mer-de-France-Televisions-devoile-leur-dispositif_a8458.html">Le 30 novembre prochain, Joséphine Baker sera panthéonisée. La France distingue une personnalité exceptionnelle, née américaine, ayant choisi, au nom du combat qu’elle mena toute sa vie pour la liberté et l’émancipation, la France éternelle des Lumières universelles.&nbsp;   À travers la danse...</a>
			 </div>
			 <div class="rubrique">
				 <a  href="/tags/Outre-Mer+1%C3%A8re/">Outre-Mer 1ère</a>, 
				 <a  href="/tags/%C3%89v%C3%A8nement/">Évènement</a>
			 </div>
			 </div>
		 <div class="clear"></div>
		 <br class="texte" />
	 </div>
	 <div class="result cel1">
			 <h3 class="titre" style="margin-bottom:5px">
				 <a  href="/Le-Mois-des-memoires-2021-et-les-20-ans-de-la-loi-Taubira-Programmation-speciale-du-pole-Outre-mer-de-France-Televisions_a7591.html">Le Mois des mémoires 2021 et les 20 ans de la loi Taubira: Programmation spéciale du pôle Outre-mer de France Télévisions</a>
			 </h3>
		 <div class="photo 16_9 shadow" >
			 <a href="/Le-Mois-des-memoires-2021-et-les-20-ans-de-la-loi-Taubira-Programmation-speciale-du-pole-Outre-mer-de-France-Televisions_a7591.html">
				 <img src="/photo/art/medium_16_9/55391464-41479629.jpg?v=1618033924" alt="Le Mois des mémoires 2021 et les 20 ans de la loi Taubira: Programmation spéciale du pôle Outre-mer de France Télévisions" title="Le Mois des mémoires 2021 et les 20 ans de la loi Taubira: Programmation spéciale du pôle Outre-mer de France Télévisions"  />
			 </a>
		 </div>
			 <div class="bloc-texte">
			 <div class="rubrique"><a rel="author" href="/author/ludovic/">Belzamine Ludovic</a>  | 27/04/2021<span class="sep seprub"> | </span><span class="rub">Actualités</span></div>
			 <div class="texte">
				 <a href="/Le-Mois-des-memoires-2021-et-les-20-ans-de-la-loi-Taubira-Programmation-speciale-du-pole-Outre-mer-de-France-Televisions_a7591.html">À l'occcasion de la Journée nationale des mémoires de la traite négrière, de l’esclavage et de leurs abolitions, ainsi que des 20 ans de la loi Taubira, qui reconnaît la traite négrière comme crime contre l’humanité, le pôle Outre-mer de France Télévisions mobilise ses antennes télé, radio et numérique, en Outre-mer et dans l’Hexagone, à travers une programmation spéciale qui met en lumière cette page de l’Histoire de France.</a>
			 </div>
			 <div class="rubrique">
				 <a  href="/tags/%C3%89v%C3%A8nement/">Évènement</a>
			 </div>
			 </div>
		 <div class="clear"></div>
		 <br class="texte" />
	 </div>
	 <div class="result cel1">
			 <h3 class="titre" style="margin-bottom:5px">
				 <a  href="/La-telenovela-portugaise-Pour-l-amour-de-Luisa-debarque-des-le-5-avril-sur-ViaATV_a7539.html">La telenovela portugaise "Pour l'amour de Luisa" débarque dés le 5 avril sur ViàATV</a>
			 </h3>
		 <div class="photo 16_9 shadow" >
			 <a href="/La-telenovela-portugaise-Pour-l-amour-de-Luisa-debarque-des-le-5-avril-sur-ViaATV_a7539.html">
				 <img src="/photo/art/medium_16_9/55052672-41314070.jpg?v=1616842408" alt="La telenovela portugaise &quot;Pour l'amour de Luisa&quot; débarque dés le 5 avril sur ViàATV" title="La telenovela portugaise &quot;Pour l'amour de Luisa&quot; débarque dés le 5 avril sur ViàATV"  />
			 </a>
		 </div>
			 <div class="bloc-texte">
			 <div class="rubrique"><a rel="author" href="/author/ludovic/">Belzamine Ludovic</a>  | 28/03/2021<span class="sep seprub"> | </span><span class="rub">Actualités</span></div>
			 <div class="texte">
				 <a href="/La-telenovela-portugaise-Pour-l-amour-de-Luisa-debarque-des-le-5-avril-sur-ViaATV_a7539.html">Nouveau ! A partir du lundi 5 avril, découvrez "Pour l'amour de Louisa", la nouvelle Télénovela de la chaîne ViàATV, en quotidienne dés 16h30.   Lorsqu'il est arrêté pour un crime qu'il n'a pas commis, Miguel se bat pour demander justice et retrouver l'amour de sa vie.   Miguel et Luisa, amoureux...</a>
			 </div>
			 </div>
		 <div class="clear"></div>
		 <br class="texte" />
	 </div>
	 <div class="result cel1">
			 <h3 class="titre" style="margin-bottom:5px">
				 <a  href="/Nouvelle-Caledonie-La-1ere-soutient-la-semaine-de-la-femme_a7422.html">Nouvelle-Calédonie La 1ère soutient la semaine de la femme</a>
			 </h3>
		 <div class="photo 16_9 shadow" >
			 <a href="/Nouvelle-Caledonie-La-1ere-soutient-la-semaine-de-la-femme_a7422.html">
				 <img src="/photo/art/medium_16_9/54167739-40832044.jpg?v=1614153006" alt="Nouvelle-Calédonie La 1ère soutient la semaine de la femme" title="Nouvelle-Calédonie La 1ère soutient la semaine de la femme"  />
			 </a>
		 </div>
			 <div class="bloc-texte">
			 <div class="rubrique"><a rel="author" href="/author/ludovic/">Belzamine Ludovic</a>  | 07/03/2021<span class="sep seprub"> | </span><span class="rub">Actualités</span></div>
			 <div class="texte">
				 <a href="/Nouvelle-Caledonie-La-1ere-soutient-la-semaine-de-la-femme_a7422.html">La place des femmes dans la société, la culture, l’histoire… irrigue toute l’année les programmes de France Télévisions. La journée du 8 mars reste aujourd’hui d’une brûlante actualité, aussi bien en France que dans le monde : il y a encore tant à accomplir pour faire progresser l’égalité et les...</a>
			 </div>
			 </div>
		 <div class="clear"></div>
		 <br class="texte" />
	 </div>
	 <div class="result cel1">
			 <h3 class="titre" style="margin-bottom:5px">
				 <a  href="/En-novembre-a-la-TV-_a6962.html">En novembre à la TV !</a>
			 </h3>
		 <div class="photo 16_9 shadow" >
			 <a href="/En-novembre-a-la-TV-_a6962.html">
				 <img src="/photo/art/medium_16_9/51283007-39392647.jpg?v=1604817503" alt="En novembre à la TV !" title="En novembre à la TV !"  />
			 </a>
		 </div>
			 <div class="bloc-texte">
			 <div class="rubrique"><a rel="author" href="/author/ludovic/">Belzamine Ludovic</a>  | 08/11/2020<span class="sep seprub"> | </span><span class="rub">Actualités</span></div>
			 <div class="texte">
				 <a href="/En-novembre-a-la-TV-_a6962.html">Chaque mois, nous vous proposons grâce à l'ACCes, un aperçu de ce que les chaînes de télévision thématiques payantes proposent de nouveau, inédit, exclusif, remarqué, primé…   Ainsi, voici ce qui vous attend en octobre sur les chaînes TV Payantes:   MELODY  (Orange, SFR, GO TV)   Anniversaire !...</a>
			 </div>
			 <div class="rubrique">
				 <a  href="/tags/Canal%2B/">Canal+</a>, 
				 <a  href="/tags/Canal%2B+Cara%C3%AFbes/">Canal+ Caraïbes</a>, 
				 <a  href="/tags/Canal%2B+R%C3%A9union/">Canal+ Réunion</a>, 
				 <a  href="/tags/Orange+Cara%C3%AFbe/">Orange Caraïbe</a>, 
				 <a  href="/tags/Orange+R%C3%A9union/">Orange Réunion</a>, 
				 <a  href="/tags/SFR+R%C3%A9union/">SFR Réunion</a>, 
				 <a  href="/tags/Zeop/">Zeop</a>
			 </div>
			 </div>
		 <div class="clear"></div>
		 <br class="texte" />
	 </div>
	 <div class="result cel1">
			 <h3 class="titre" style="margin-bottom:5px">
				 <a  href="/Reunion-La-1ere-devoile-sa-programmation-autour-de-la-Journee-Internationale-des-droits-de-la-Femme_a5798.html">Réunion La 1ère dévoile sa programmation autour de la Journée Internationale des droits de la Femme</a>
			 </h3>
		 <div class="photo 16_9 shadow" >
			 <a href="/Reunion-La-1ere-devoile-sa-programmation-autour-de-la-Journee-Internationale-des-droits-de-la-Femme_a5798.html">
				 <img src="/photo/art/medium_16_9/43158480-35709764.jpg?v=1582784797" alt="Réunion La 1ère dévoile sa programmation autour de la Journée Internationale des droits de la Femme" title="Réunion La 1ère dévoile sa programmation autour de la Journée Internationale des droits de la Femme"  />
			 </a>
		 </div>
			 <div class="bloc-texte">
			 <div class="rubrique"><a rel="author" href="/author/ludovic/">Belzamine Ludovic</a>  | 27/02/2020<span class="sep seprub"> | </span><span class="rub">Actualités</span></div>
			 <div class="texte">
				 <a href="/Reunion-La-1ere-devoile-sa-programmation-autour-de-la-Journee-Internationale-des-droits-de-la-Femme_a5798.html">En Avant toutes, ce dimanche 8 mars, les Femmes sont à l’honneur sur Réunion la 1ère , à journée exceptionnelle, une programmation exceptionnelle&nbsp;: Spectacle vivant, documentaire, fiction…..   Au programme:   14h30&nbsp;: Sorodas, Les Femmes De Mayotte  15h30 Zistwar Famn  19h45 : Fleur Du...</a>
			 </div>
			 <div class="rubrique">
				 <a  href="/tags/R%C3%A9union+La+1%C3%A8re/">Réunion La 1ère</a>, 
				 <a  href="/tags/%C3%89v%C3%A8nement/">Évènement</a>
			 </div>
			 </div>
		 <div class="clear"></div>
		 <br class="texte" />
	 </div>
	 <div class="result cel1">
			 <h3 class="titre" style="margin-bottom:5px">
				 <a  href="/Mal-logement-femmes-battues-bonheur-3e-age-au-programme-de-Dieu-m-est-temoin-en-mars-sur-Outre-mer-La-1ere_a5756.html">Mal-logement, femmes battues, bonheur, 3e âge… au programme de "Dieu m’est témoin" en mars sur Outre-mer La 1ère</a>
			 </h3>
		 <div class="photo 16_9 shadow" >
			 <a href="/Mal-logement-femmes-battues-bonheur-3e-age-au-programme-de-Dieu-m-est-temoin-en-mars-sur-Outre-mer-La-1ere_a5756.html">
				 <img src="/photo/art/medium_16_9/42844613-35565677.jpg?v=1581918645" alt="Mal-logement, femmes battues, bonheur, 3e âge… au programme de &quot;Dieu m’est témoin&quot; en mars sur Outre-mer La 1ère" title="Mal-logement, femmes battues, bonheur, 3e âge… au programme de &quot;Dieu m’est témoin&quot; en mars sur Outre-mer La 1ère"  />
			 </a>
		 </div>
			 <div class="bloc-texte">
			 <div class="rubrique"><a rel="author" href="/author/ludovic/">Belzamine Ludovic</a>  | 17/02/2020<span class="sep seprub"> | </span><span class="rub">Actualités</span></div>
			 <div class="texte">
				 <a href="/Mal-logement-femmes-battues-bonheur-3e-age-au-programme-de-Dieu-m-est-temoin-en-mars-sur-Outre-mer-La-1ere_a5756.html">Au programme de Dieu m’est témoin en mars&nbsp; sur Outre-mer la 1ère:   Mal-logés, déshumanisés ?  Dimanche 1er mars   Ce dimanche, Dieu m’est témoin consacre son émission au mal-logement. Aujourd’hui, près de 600 000 logements seraient potentiellement indignes en France et près de 70 000 en...</a>
			 </div>
			 <div class="rubrique">
				 <a  href="/tags/Outre-Mer+1%C3%A8re/">Outre-Mer 1ère</a>
			 </div>
			 </div>
		 <div class="clear"></div>
		 <br class="texte" />
	 </div>
	 <div class="result cel1">
			 <h3 class="titre" style="margin-bottom:5px">
				 <a  href="/Musique-Gwendoline-Absalon-sort-son-nouvel-album-Vangasay_a5715.html">Musique: Gwendoline Absalon sort son nouvel album "Vangasay"</a>
			 </h3>
		 <div class="photo 16_9 shadow" >
			 <a href="/Musique-Gwendoline-Absalon-sort-son-nouvel-album-Vangasay_a5715.html">
				 <img src="/_images/1.gif" alt="" class="play_16_9_m" />
				 <img src="/photo/art/medium_16_9/42479497-35399689.jpg?v=1580882771" alt="Musique: Gwendoline Absalon sort son nouvel album &quot;Vangasay&quot;" title="Musique: Gwendoline Absalon sort son nouvel album &quot;Vangasay&quot;"  />
			 </a>
		 </div>
			 <div class="bloc-texte">
			 <div class="rubrique"><a rel="author" href="/author/ludovic/">Belzamine Ludovic</a>  | 05/02/2020<span class="sep seprub"> | </span><span class="rub">Musique</span></div>
			 <div class="texte">
				 <a href="/Musique-Gwendoline-Absalon-sort-son-nouvel-album-Vangasay_a5715.html">La chanteuse Gwendoline Absalon d'origine de l'île de la Réunion sort le 27 mars son deuxième album "Vangasay".   Vangasay, le second album de la chanteuse&nbsp;Gwendoline Absalon, c’est d’abord une immersion initiatique et vitalisante dans l’île de La Réunion. Approchez-vous : la voix chaleureuse...</a>
			 </div>
			 <div class="rubrique">
				 <a  href="/tags/Musique/">Musique</a>
			 </div>
			 </div>
		 <div class="clear"></div>
		 <br class="texte" />
	 </div>
	 <div class="result cel1">
			 <h3 class="titre" style="margin-bottom:5px">
				 <a  href="/Mariana-et-Scarlett-la-nouvelle-telenovela-d-Antenne-Reunion_a4491.html">"Mariana et Scarlett" la nouvelle télénovela d'Antenne Réunion</a>
			 </h3>
		 <div class="photo 16_9 shadow" >
			 <a href="/Mariana-et-Scarlett-la-nouvelle-telenovela-d-Antenne-Reunion_a4491.html">
				 <img src="/photo/art/medium_16_9/29922325-28753865.jpg?v=1547973782" alt="&quot;Mariana et Scarlett&quot; la nouvelle télénovela d'Antenne Réunion" title="&quot;Mariana et Scarlett&quot; la nouvelle télénovela d'Antenne Réunion"  />
			 </a>
		 </div>
			 <div class="bloc-texte">
			 <div class="rubrique"><a rel="author" href="/author/ludovic/">Belzamine Ludovic</a>  | 20/01/2019<span class="sep seprub"> | </span><span class="rub">Actualités</span></div>
			 <div class="texte">
				 <a href="/Mariana-et-Scarlett-la-nouvelle-telenovela-d-Antenne-Reunion_a4491.html">Dés demain, la chaîne privée Antenne Réunion proposera à ses télespectateurs, deux nouvelles télénovela au nom de "Mariana et Scarlett" et "Au nom de l'amour"</a>
			 </div>
			 <div class="rubrique">
				 <a  href="/tags/Antenne+R%C3%A9union/">Antenne Réunion</a>
			 </div>
			 </div>
		 <div class="clear"></div>
		 <br class="texte" />
	 </div>
	 <div class="result cel1">
			 <h3 class="titre" style="margin-bottom:5px">
				 <a  href="/Telenovela-Le-Prix-du-Pardon-debarque-a-partir-du-11-janvier-sur-Novelas-TV_a4430.html">Telenovela: "Le Prix du Pardon" débarque à partir du 11 janvier sur Novelas TV</a>
			 </h3>
		 <div class="photo 16_9 shadow" >
			 <a href="/Telenovela-Le-Prix-du-Pardon-debarque-a-partir-du-11-janvier-sur-Novelas-TV_a4430.html">
				 <img src="/photo/art/medium_16_9/29324090-28441463.jpg?v=1546150842" alt="Telenovela: &quot;Le Prix du Pardon&quot; débarque à partir du 11 janvier sur Novelas TV" title="Telenovela: &quot;Le Prix du Pardon&quot; débarque à partir du 11 janvier sur Novelas TV"  />
			 </a>
		 </div>
			 <div class="bloc-texte">
			 <div class="rubrique"><a rel="author" href="/author/ludovic/">Belzamine Ludovic</a>  | 30/12/2018<span class="sep seprub"> | </span><span class="rub">Actualités</span></div>
			 <div class="texte">
				 <a href="/Telenovela-Le-Prix-du-Pardon-debarque-a-partir-du-11-janvier-sur-Novelas-TV_a4430.html">Après Éternel, Novelas TV proposera à partir du 11 janvier la télénovela mexicaine "Le prix du pardon". Cette télénovela, librement inspirée des Misérables de Victor Hugo, est une intrigue riche en sentiments et suspens qui remplace la télénovela "Dans la peau d'une autre"&nbsp;   Cette série déjà...</a>
			 </div>
			 <div class="rubrique">
				 <a  href="/tags/Novelas+TV/">Novelas TV</a>
			 </div>
			 </div>
		 <div class="clear"></div>
		 <br class="texte" />
	 </div>
	 <div class="result cel1">
			 <h3 class="titre" style="margin-bottom:5px">
				 <a  href="/National-Geographic-documente-une-greffe-totale-du-visage_a4011.html">National Geographic documente une greffe totale du visage</a>
			 </h3>
		 <div class="photo 16_9 shadow" >
			 <a href="/National-Geographic-documente-une-greffe-totale-du-visage_a4011.html">
				 <img src="/photo/art/medium_16_9/24871526-26463404.jpg?v=1535184188" alt="National Geographic documente une greffe totale du visage" title="National Geographic documente une greffe totale du visage"  />
			 </a>
		 </div>
			 <div class="bloc-texte">
			 <div class="rubrique"><a rel="author" href="/author/ludovic/">Belzamine Ludovic</a>  | 25/08/2018<span class="sep seprub"> | </span><span class="rub">Presse</span></div>
			 <div class="texte">
				 <a href="/National-Geographic-documente-une-greffe-totale-du-visage_a4011.html">L’histoire incroyable d’une greffe de visage : National Geographic a suivi pendant plus de 2 ans la plus jeune patiente à avoir reçu une greffe totale du visage aux États-Unis.</a>
			 </div>
			 <div class="rubrique">
				 <a  href="/tags/National+Geographic/">National Geographic</a>
			 </div>
			 </div>
		 <div class="clear"></div>
		 <br class="texte" />
	 </div>
	 <div class="result cel1">
			 <h3 class="titre" style="margin-bottom:5px">
				 <a  href="/En-fevrier-sur-les-chaines-payantes-en-Outre-Mer_a3361.html">En février sur les chaînes payantes en Outre-Mer</a>
			 </h3>
		 <div class="photo 16_9 shadow" >
			 <a href="/En-fevrier-sur-les-chaines-payantes-en-Outre-Mer_a3361.html">
				 <img src="/photo/art/medium_16_9/19820596-23546123.jpg?v=1517297890" alt="En février sur les chaînes payantes en Outre-Mer" title="En février sur les chaînes payantes en Outre-Mer"  />
			 </a>
		 </div>
			 <div class="bloc-texte">
			 <div class="rubrique"><a rel="author" href="/author/ludovic/">Belzamine Ludovic</a>  | 30/01/2018<span class="sep seprub"> | </span><span class="rub">Actualités</span></div>
			 <div class="texte">
				 <a href="/En-fevrier-sur-les-chaines-payantes-en-Outre-Mer_a3361.html">Découvrez ci-dessous, ce qui vous attend en février 2018 sur les chaînes du câble, du satellite... . Nouveautés, inédits, exclusivités, grâce à l'ACCeS vous saurez tout sur ce qui vous attend sur les chaînes payantes.   MCM (Canal+, Orange, SFR, GO TV)   Pour la 2ème année consécutive MCM diffusera...</a>
			 </div>
			 <div class="rubrique">
				 <a  href="/tags/13e+Rue/">13e Rue</a>, 
				 <a  href="/tags/Canal+J/">Canal J</a>, 
				 <a  href="/tags/Canal%2B+Cara%C3%AFbes/">Canal+ Caraïbes</a>, 
				 <a  href="/tags/Canal%2B+R%C3%A9union/">Canal+ Réunion</a>, 
				 <a  href="/tags/Disney+Channel/">Disney Channel</a>, 
				 <a  href="/tags/MCM/">MCM</a>, 
				 <a  href="/tags/Orange+Cara%C3%AFbe/">Orange Caraïbe</a>, 
				 <a  href="/tags/Piwi%2B/">Piwi+</a>, 
				 <a  href="/tags/SFR+Cara%C3%AFbe/">SFR Caraïbe</a>, 
				 <a  href="/tags/SFR+Mayotte/">SFR Mayotte</a>, 
				 <a  href="/tags/SFR+R%C3%A9union/">SFR Réunion</a>, 
				 <a  href="/tags/Teletoon%2B/">Teletoon+</a>, 
				 <a  href="/tags/Tiji/">Tiji</a>
			 </div>
			 </div>
		 <div class="clear"></div>
		 <br class="texte" />
	 </div>
	 <div class="result cel1">
			 <h3 class="titre" style="margin-bottom:5px">
				 <a  href="/L-affiche-de-la-huitieme-edition-du-festival-MEME-PAS-PEUR-fait-polemique-_a3278.html">L'affiche de la huitième édition du festival MÊME PAS PEUR fait polémique !</a>
			 </h3>
		 <div class="photo 16_9 shadow" >
			 <a href="/L-affiche-de-la-huitieme-edition-du-festival-MEME-PAS-PEUR-fait-polemique-_a3278.html">
				 <img src="/photo/art/medium_16_9/19203696-23176328.jpg?v=1514699104" alt="L'affiche de la huitième édition du festival MÊME PAS PEUR fait polémique !" title="L'affiche de la huitième édition du festival MÊME PAS PEUR fait polémique !"  />
			 </a>
		 </div>
			 <div class="bloc-texte">
			 <div class="rubrique"><a rel="author" href="/author/ludovic/">Belzamine Ludovic</a>  | 31/12/2017<span class="sep seprub"> | </span><span class="rub">Actualités</span></div>
			 <div class="texte">
				 <a href="/L-affiche-de-la-huitieme-edition-du-festival-MEME-PAS-PEUR-fait-polemique-_a3278.html">L'affiche de la huitième du festival Même pas peur fait polémique actuellement sur les réseaux sociaux et l'équipe du festival est accusée d'être raciste.   ​Face à cette accusation, Aurélia Mengin, directrice du festival sort du silence et répond publiquement dans un communiqué de presse qu'on...</a>
			 </div>
			 <div class="rubrique">
				 <a  href="/tags/Festival/">Festival</a>
			 </div>
			 </div>
		 <div class="clear"></div>
		 <br class="texte" />
	 </div>
	 <div class="result cel1">
			 <h3 class="titre" style="margin-bottom:5px">
				 <a  href="/L-Outre-Mer-a-l-honneur-sur-Public-Senat_a2806.html">L'Outre-Mer à l'honneur sur Public Sénat</a>
			 </h3>
		 <div class="photo 16_9 shadow" >
			 <a href="/L-Outre-Mer-a-l-honneur-sur-Public-Senat_a2806.html">
				 <img src="/photo/art/medium_16_9/15697469-20860261.jpg?v=1500015511" alt="L'Outre-Mer à l'honneur sur Public Sénat" title="L'Outre-Mer à l'honneur sur Public Sénat"  />
			 </a>
		 </div>
			 <div class="bloc-texte">
			 <div class="rubrique"><a rel="author" href="/author/ludovic/">Belzamine Ludovic</a>  | 14/07/2017<span class="sep seprub"> | </span><span class="rub">Actualités</span></div>
			 <div class="texte">
				 <a href="/L-Outre-Mer-a-l-honneur-sur-Public-Senat_a2806.html">Pendant tout les vacances, La chaîne Public Sénat programmera jusqu'au 15 Août, des documentaires et fictions autour de la thématique "Territoire d'Outre-Mer".</a>
			 </div>
			 <div class="rubrique">
				 <a  href="/tags/Public+S%C3%A9nat/">Public Sénat</a>
			 </div>
			 </div>
		 <div class="clear"></div>
		 <br class="texte" />
	 </div>
	 <div class="result cel1">
			 <h3 class="titre" style="margin-bottom:5px">
				 <a  href="/La-telenovela-mexicaine-Le-Prix-du-Pardon-arrive-a-partir-du-9-Janvier-sur-France-O_a2246.html">La télénovela mexicaine "Le Prix du Pardon" arrive à partir du 9 Janvier sur France Ô</a>
			 </h3>
		 <div class="photo 16_9 shadow" >
			 <a href="/La-telenovela-mexicaine-Le-Prix-du-Pardon-arrive-a-partir-du-9-Janvier-sur-France-O_a2246.html">
				 <img src="/photo/art/medium_16_9/10813204-17863881.jpg?v=1482214807" alt="La télénovela mexicaine &quot;Le Prix du Pardon&quot; arrive à partir du 9 Janvier sur France Ô" title="La télénovela mexicaine &quot;Le Prix du Pardon&quot; arrive à partir du 9 Janvier sur France Ô"  />
			 </a>
		 </div>
			 <div class="bloc-texte">
			 <div class="rubrique"><a rel="author" href="/author/ludovic/">Belzamine Ludovic</a>  | 20/12/2016<span class="sep seprub"> | </span><span class="rub">TV / SVOD</span></div>
			 <div class="texte">
				 <a href="/La-telenovela-mexicaine-Le-Prix-du-Pardon-arrive-a-partir-du-9-Janvier-sur-France-O_a2246.html">A partir du 9 Janvier découvrez sur France Ô votre nouvelle télénovela "Le prix du Pardon". Déjà diffusée sur les chaînes 1ère, cette nouvelle série sera diffusée du lundi au vendredi à 10h00 (Horaire Métropole).</a>
			 </div>
			 <div class="rubrique">
				 <a  href="/tags/France+%C3%94/">France Ô</a>
			 </div>
			 </div>
		 <div class="clear"></div>
		 <br class="texte" />
	 </div>
	 <div class="result cel1">
			 <h3 class="titre" style="margin-bottom:5px">
				 <a  href="/Le-Prix-du-pardon-la-nouvelle-telenovela-d-Outre-Mer-1ere_a1917.html">Le Prix du pardon, la nouvelle télénovela d'Outre-Mer 1ère</a>
			 </h3>
		 <div class="photo 16_9 shadow" >
			 <a href="/Le-Prix-du-pardon-la-nouvelle-telenovela-d-Outre-Mer-1ere_a1917.html">
				 <img src="/photo/art/medium_16_9/9979814-16193417.jpg?v=1470294613" alt="Le Prix du pardon, la nouvelle télénovela d'Outre-Mer 1ère" title="Le Prix du pardon, la nouvelle télénovela d'Outre-Mer 1ère"  />
			 </a>
		 </div>
			 <div class="bloc-texte">
			 <div class="rubrique"><a rel="author" href="/author/ludovic/">Belzamine Ludovic</a>  | 09/08/2016<span class="sep seprub"> | </span><span class="rub">Actualités</span></div>
			 <div class="texte">
				 <a href="/Le-Prix-du-pardon-la-nouvelle-telenovela-d-Outre-Mer-1ere_a1917.html">(MAJ) Les chaînes 1ère diffuseront le 22 Août la nouvelle télénovela mexicaine "Le prix du pardon".</a>
			 </div>
			 <div class="rubrique">
				 <a  href="/tags/Outre-Mer+1%C3%A8re/">Outre-Mer 1ère</a>
			 </div>
			 </div>
		 <div class="clear"></div>
		 <br class="texte" />
	 </div>
	 <div class="result cel1">
			 <h3 class="titre" style="margin-bottom:5px">
				 <a  href="/Guadeloupe-1ere-Les-programmes-forts-de-la-semaine-Du-30-Avril-au-6-Mai_a1668.html">Guadeloupe 1ère: Les programmes forts de la semaine (Du 30 Avril au 6 Mai)</a>
			 </h3>
		 <div class="photo 16_9 shadow" >
			 <a href="/Guadeloupe-1ere-Les-programmes-forts-de-la-semaine-Du-30-Avril-au-6-Mai_a1668.html">
				 <img src="/photo/art/medium_16_9/9396980-15050261.jpg?v=1461958286" alt="Guadeloupe 1ère: Les programmes forts de la semaine (Du 30 Avril au 6 Mai)" title="Guadeloupe 1ère: Les programmes forts de la semaine (Du 30 Avril au 6 Mai)"  />
			 </a>
		 </div>
			 <div class="bloc-texte">
			 <div class="rubrique"><a rel="author" href="/author/ludovic/">Belzamine Ludovic</a>  | 30/04/2016<span class="sep seprub"> | </span><span class="rub">Actualités</span></div>
			 <div class="texte">
				 <a href="/Guadeloupe-1ere-Les-programmes-forts-de-la-semaine-Du-30-Avril-au-6-Mai_a1668.html">Au programme cette semaine: Les nouvelles séries "The Last ship", "Le Passager", "Jikulumessu" et "L'ombre du mensonge", un nouveau d'Archipels "Un caillou et des hommes", Conviction Intime "Sortir de la dépression", Parole d'athlète, Entreprendre en Lycée, Marie Luce Penchard dans le "Presque Late...</a>
			 </div>
			 <div class="rubrique">
				 <a  href="/tags/Guadeloupe+La+1%C3%A8re/">Guadeloupe La 1ère</a>
			 </div>
			 </div>
		 <div class="clear"></div>
		 <br class="texte" />
	 </div>
	 <div class="result cel1">
			 <h3 class="titre" style="margin-bottom:5px">
				 <a  href="/France-O-Les-programmes-forts-de-la-semaine-Du-02-au-08-Avril_a1590.html">France Ô: Les programmes forts de la semaine (Du 02 au 08 Avril)</a>
			 </h3>
		 <div class="photo 16_9 shadow" >
			 <a href="/France-O-Les-programmes-forts-de-la-semaine-Du-02-au-08-Avril_a1590.html">
				 <img src="/photo/art/medium_16_9/9241736-14751412.jpg?v=1459606744" alt="France Ô: Les programmes forts de la semaine (Du 02 au 08 Avril)" title="France Ô: Les programmes forts de la semaine (Du 02 au 08 Avril)"  />
			 </a>
		 </div>
			 <div class="bloc-texte">
			 <div class="rubrique"><a rel="author" href="/author/ludovic/">Belzamine Ludovic</a>  | 02/04/2016<span class="sep seprub"> | </span><span class="rub">Actualités</span></div>
			 <div class="texte">
				 <a href="/France-O-Les-programmes-forts-de-la-semaine-Du-02-au-08-Avril_a1590.html">Au programme cette semaine: Investigations "Embarqué: En Guyane avec la légion", Le Transat AG2R la Mondiale, Radio Vinyle avec Abd Al Malik et un nouveau numéro d'Archipels "Sur les terres du roi Nick".</a>
			 </div>
			 </div>
		 <div class="clear"></div>
		 <br class="texte" />
	 </div>
	 <div class="result cel1">
			 <h3 class="titre" style="margin-bottom:5px">
				 <a  href="/France-O-Les-programmes-forts-de-la-semaine-Du-26-Mars-au-1er-Avril_a1574.html">France Ô: Les programmes forts de la semaine (Du 26 Mars au 1er Avril)</a>
			 </h3>
		 <div class="photo 16_9 shadow" >
			 <a href="/France-O-Les-programmes-forts-de-la-semaine-Du-26-Mars-au-1er-Avril_a1574.html">
				 <img src="/photo/art/medium_16_9/9189065-14651866.jpg?v=1458889175" alt="France Ô: Les programmes forts de la semaine (Du 26 Mars au 1er Avril)" title="France Ô: Les programmes forts de la semaine (Du 26 Mars au 1er Avril)"  />
			 </a>
		 </div>
			 <div class="bloc-texte">
			 <div class="rubrique"><a rel="author" href="/author/ludovic/">Belzamine Ludovic</a>  | 26/03/2016<span class="sep seprub"> | </span><span class="rub">Actualités</span></div>
			 <div class="texte">
				 <a href="/France-O-Les-programmes-forts-de-la-semaine-Du-26-Mars-au-1er-Avril_a1574.html">Au programme cette semaine: Le concert caricatif Ensemble contre la Drépanocytose, un nouveau numéro d'Investigations et d'Archipels et le VIH Pocket Film. Drépaction Martinique 2015: Ensemble contre la Drépanocytose avec Music Karaib Groove (Samedi 26 23h55, horaire métropole)   Au palais des...</a>
			 </div>
			 </div>
		 <div class="clear"></div>
		 <br class="texte" />
	 </div>
	 <form action="/search/" method="get" >
		 <div class="cel1">
			 <input type="text" style="width:50%" name="keyword" value="combat amour" class="button" />
			 <input type="image" src="/_images/icones/ok_5.png?v=1213798463" alt="OK" title="OK" />
		 </div>
	 </form>
	 <div class="cel1 forpager">
		 <%=render "mypager", list: @myresults%>
	 </div>
</div>
<div id="ecart_after_24606328" class="ecart_col2"><hr /></div>
<div class="homecrump center">
	 <div class="clear separate"><hr /></div>
	 <a href="/"><img src="/_images/icones/bt_home_5.png?v=1211889466" class="image" alt="" title=""  /></a>
</div>
</div>
</div>