<div class="z_colonne main-colonne" id="z_col2">
<div class="z_col_median z_col2_inner">

<!-- page2_boutique 24606318 -->
<div id="mod_24606318" class="mod_24606318 wm-module fullbackground  module-page2_boutique">
<div class="general" style="position:relative">
	 <div class="div-rayon tri-l">
	 <div class="cel1nobt">
	 <div class="titre" style="padding-bottom:10px">Abonnements</div>
	 </div>
	 <div style="width:100%;position:relative">
		 <div class="infos_liste">
	 3 produits sur 3 au total
		 </div>
	 </div>
			 <div class="cel1">
				 <div class="photo shadow left" style="padding-right:10px;">
					 <a href="/shop/Abonnement-Premium_p1.html">
					 <img class="not-responsive" src='/photo/produit-medium16-1.png?v=1519200877' class="image" alt="01" />
					 <img class="responsive" style="display:none" src='/photo/produit-medium16-1.png?v=1519200877' class="image" alt="01" />
					 </a>
				 </div>
		 <div class="bloc_titre" style="margin-left: 230px">
			 <a class="designation" href="/shop/Abonnement-Premium_p1.html">Abonnement Premium</a>
			 <div class="description" style="margin-top:5px">
				 S'abonner au service Premium, vous permet 
				 <br />
				 
				 <br />
				 - D'accéder à notre site sans publicité
				 <br />
				 
				 <br />
				 En toute transparence, la mise en place d'un service d'abonnement permettra d'améliorer davantage le site Megazap.fr et le faire grandir.
				 <br />
				 
				 <br />
				 L'embauche de personnes compétentes est aussi une de nos priorités.
				 <br />
				 
			 </div>
			 <div class="description" style="margin-top:10px">
				 <b>Tags : </b>
				 <a class="link" href="/shop/?tag=Abonnement">Abonnement</a>			 </div>
			 <div class="prix" style="margin-top:5px">
				 <form action="/shop/" method="post">
					 <input type="hidden" name="paction" value="add" />
					 <input type="hidden" name="dopanier" value="1" />
					 <input type="hidden" name="a_id_produit" value="01" />
				 2,99 €
				 <input type="image" src="/_images/icones/bt_caddie_5.png?v=1211889471" alt="Ajouter au panier" title="Ajouter au panier" />
				 </form>
			 </div>
		 </div>

			 <div class="clear"></div>
		 </div>
			 <div class="cel1">
				 <div class="photo shadow left" style="padding-right:10px;">
					 <a href="/shop/Abonnement-Mega-Premium_p2.html">
					 <img class="not-responsive" src='/photo/produit-medium16-2.png?v=1519200805' class="image" alt="02" />
					 <img class="responsive" style="display:none" src='/photo/produit-medium16-2.png?v=1519200805' class="image" alt="02" />
					 </a>
				 </div>
		 <div class="bloc_titre" style="margin-left: 230px">
			 <a class="designation" href="/shop/Abonnement-Mega-Premium_p2.html">Abonnement Mega Premium</a>
			 <div class="description" style="margin-top:5px">
				 S'abonner au service Premium, vous permet 
				 <br />
				 
				 <br />
				 - D'accéder à notre site sans publicité
				 <br />
				 - De profiter des futurs services Megazap
				 <br />
				 
				 <br />
				 En toute transparence, la mise en place d'un service d'abonnement permettra d'améliorer davantage le site Megazap.fr, le faire grandir et d'embaucher des personnes compétentes pour la rédaction d'article qui est une de nos priorités.
				 <br />
				 
			 </div>
			 <div class="description" style="margin-top:10px">
				 <b>Tags : </b>
				 <a class="link" href="/shop/?tag=Abonnement">Abonnement</a>			 </div>
			 <div class="prix" style="margin-top:5px">
				 <form action="/shop/" method="post">
					 <input type="hidden" name="paction" value="add" />
					 <input type="hidden" name="dopanier" value="1" />
					 <input type="hidden" name="a_id_produit" value="02" />
				 19,99 €
				 <input type="image" src="/_images/icones/bt_caddie_5.png?v=1211889471" alt="Ajouter au panier" title="Ajouter au panier" />
				 </form>
			 </div>
		 </div>

			 <div class="clear"></div>
		 </div>
			 <div class="cel1">
				 <div class="photo shadow left" style="padding-right:10px;">
					 <a href="/shop/Abonnement-Ultra-Premium_p3.html">
					 <img class="not-responsive" src='/photo/produit-medium16-3.png?v=1519235339' class="image" alt="03" />
					 <img class="responsive" style="display:none" src='/photo/produit-medium16-3.png?v=1519235339' class="image" alt="03" />
					 </a>
				 </div>
		 <div class="bloc_titre" style="margin-left: 230px">
			 <a class="designation" href="/shop/Abonnement-Ultra-Premium_p3.html">Abonnement Ultra Premium</a>
			 <div class="description" style="margin-top:5px">
				 S'abonner au service "Ultra Premium", vous permet:
				 <br />
				 
				 <br />
				 - D'accéder à notre site sans publicité
				 <br />
				 - D'avoir votre espace personnalisé
				 <br />
				 - De participer à tous nos futurs services
				 <br />
				 - De recevoir nos informations exclusives en Avant-Première
				 <br />
				 
				 <br />
				 En toute transparence, la mise en place d'un service d'abonnement permettra d'améliorer davantage le site Megazap.fr et le faire grandir.
				 <br />
				 
				 <br />
				 L'embauche de personnes compétentes est aussi une de nos priorités.
			 </div>
			 <div class="prix" style="margin-top:5px">
				 <form action="/shop/" method="post">
					 <input type="hidden" name="paction" value="add" />
					 <input type="hidden" name="dopanier" value="1" />
					 <input type="hidden" name="a_id_produit" value="03" />
				 29,99 €
				 <input type="image" src="/_images/icones/bt_caddie_5.png?v=1211889471" alt="Ajouter au panier" title="Ajouter au panier" />
				 </form>
			 </div>
		 </div>

			 <div class="clear"></div>
		 </div>
	 <div style="width:100%;position:relative">
		 <div class="infos_liste">
	 3 produits sur 3 au total
		 </div>
	 </div>
	 </div>
</div>
	 <div class="bas_page">
		 <a href="/shop/followup/">Suivi de commande</a>
		 <span> | </span>
		 <a href="/shop/terms/">Conditions générales de ventes</a>
		 <span> | </span>
		 <a href="/shop/cart/">Votre panier</a>
		 <span> | </span>
		 <a href="javascript:protected_mail('megazapmedia!SPAM!yahoo.fr')" >Nous contacter</a>
	 </div>
</div>
<div id="ecart_after_24606318" class="ecart_col2"><hr /></div>
<div id="ecart_after_24606318" class="ecart_col2"><hr /></div>
</div>
</div>