<!-- ********************************************** COLONNE 1 ********************************************** -->
<div class="z_colonne main-colonne" id="z_col1">
<div class="z_col_median z_col1_inner">
<div id="mod_24606326" class="mod_24606326 wm-module fullbackground  module-page2_inscription">
	 <div class="cel1">
		 <h3 class="titre">Inscription au site</h3>
		 <br class="explication" />
		 <div class="explication">Inscription effectuée. <a class="liens" href="javascript:void(0)" onclick="showIbox('/index.php?preaction=ajax&amp;action=restriction&amp;iboxaction=login&amp;CUSTOM=profil')">Cliquez ici pour vous connecter au site immédiatement.</a></div>
	 </div>
</div>
<div id="ecart_after_24606326" class="ecart_col1"><hr /></div>
</div>
</div>
<!-- ********************************************** FIN COLONNE 1 ****************************************** -->

<!-- ********************************************** COLONNE 2 ********************************************** -->
<div class="z_colonne" id="z_col2">
<div class="z_col_median z_col2_inner z_col_fullheight">

<!-- login 24606383 -->
<div id="mod_24606383" class="mod_24606383 wm-module fullbackground module-responsive  module-login type-3">
	 <div class="entete"><div class="fullmod">
		 <span>S'identifier</span>
	 </div></div>
	 <div class="cel1">
		 <div class="liens"><a href="javascript:void(0)" onclick="showIbox('/index.php?preaction=ajax&amp;action=restriction&amp;iboxaction=login&amp;ABSOLUTE_HREF=/subscription/')">Se connecter</a> | <a href="/subscription/">S'inscrire</a></div>
	 </div>
</div>
<div id="ecart_after_24606383" class="ecart_col2"><hr /></div>

</div>
</div>
<%=content_for :mapgoogle do%>
<script src="/js/jquery.tools-1.2.7.min.js?v=1383207878" type="text/javascript"></script>
<script src="/js/compress_jquery.ibox.js?v=1435566001" type="text/javascript"></script>
<script src="/js/form.js?v=1291969975" type="text/javascript"></script>

<%end%>