<div class="alt_encapse_membre clear-x3" style="margin-top: 5px;width:25%;float:left;">
				 <div class="membre">
				 <div class="date_bloc show_year" style="font-size:44px">
					 <strong><%=l(date, format: :jour1)%></strong><br>
					 <strong><%=l(date, format: :moiscourtannee)%></strong>
				 </div>
				 </div>
			 </div>