<a href="/social/<%=user.id%>/"><img src="<%if user.image%>/userfiles/<%=user.image%>?v=<%else%>/_images/social/inconnu_o.jpg<%end%>" width="53" height="53" style="margin: 2px" alt="<%=user.fullname%>" title="<%=user.fullname%>"></a>
