<div class="z_colonne main-colonne" id="z_col2">
<div class="z_col_median z_col2_inner z_col_fullheight" style="height: 917px;">
<div id="mod_5601817" class="mod_5601817 wm-module fullbackground  module-page2_restriction">
	 <div class="entete"><div class="fullmod">
		 <span>Section restreinte</span>
	 </div></div>
	 <div id="full_5601817" class="cel1">
		 <br>
		 <div class="titre" style="margin-bottom:5px">Mot de passe perdu ?</div>
		 <form class="passperdu" action="/members/pass/" method="post">
			 <input type="hidden" name="subaction" value="sendpass">
			 <div class="texte" style="margin:10px 0"><b>Vous n'arrivez pas à vous connecter ? Vous avez oublié votre mot de passe ?</b><br>Entrez votre Login ou votre adresse email, nous vous enverrons les instructions pour renouveler votre mot de passe.</div>
				<label style="">Login :</label>
<div class="inputrow" style="">
	 <input class="button" onfocus="del_error(this.id)" type="text" id="a_passlogin" name="a_passlogin" value="">
	 <div id="error_a_passlogin" class="error"></div>
</div>
<div class="break"></div>
				<label style="">ou E-mail :</label>
<div class="inputrow" style="">
	 <input class="button" onfocus="del_error(this.id)" type="text" id="a_passmail" name="a_passmail" value="">
	 <div id="error_a_passmail" class="error"></div>
</div>
<div class="break"></div>
			 <div class="submit">
				 <div class="right"><input type="button" value="Retour" class="button2" onclick="document.location.href='/members/'"></div>
				 <input type="submit" value="Envoyer" class="button2">
			 </div>
		 </form>
			 <div class="clear"></div>
	 </div>
</div>
<div id="ecart_after_5601817" class="ecart_col2"><hr></div>
</div>
</div>