<div class="item">
				 <div>
					 <div class="auteur_date">
							 <img src="Cleo%20JEANNE%20R%C3%A9seau%20social%20Megazap_fichiers/bulle_com.png" alt="" class="left">
							 <div style="margin-left:21px">
						 <span class="auteur_date"> 16:51 | Cleo JEANNE a commenté l'article </span>
						 <a class="lien" href="https://www.megazap.fr/La-serie-indienne-Le-combat-pour-l-amour-arrive-des-le-27-fevrier-sur-Antenne-Reunion_a8969.html?com#com_7951659">La série indienne "Le combat pour l'amour" arrive dés le 27 février sur Antenne Réunion</a>
								 <br><a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_2')"><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_2" class="texte fullactivity" style="display:none">cool</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>