<div class="item">
				 <div>
					 <div class="auteur_date">
							 <img src="Cleo%20JEANNE%20R%C3%A9seau%20social%20Megazap_fichiers/annonce.gif" alt="" class="left">
							 <div style="margin-left:21px">
						 <span class="auteur_date"> 21:42 | Cleo JEANNE a soumis l'annonce </span>
						 <a class="lien" href="https://www.megazap.fr/classifieds/cherche-emploi-informatique_pa259415.html">cherche emploi informatique</a>
								 <br><a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_1')"><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_1" class="texte fullactivity" style="display:none">langages : php, mysql, <br>OU de l'ordinateur : active directory</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>