
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="fr" lang="fr">
<head>
<title>Vidéos | Site de la Ville de Saint-Laurent du Maroni</title>
 
<meta http-equiv="Content-Type" content="text/html; Charset=UTF-8" />
<meta name="description" content="Sophie CHARLES, Maire de Saint-Laurent du Maroni, participe à la table ronde «&amp;nbsp; quels enjeux pour la relance dans les collectivités ultra-marines ».&amp;nbsp; Dans son intervention, elle a rappel..." />
<%=action_cable_meta_tag%>
<meta name="geo.position" content="5.498311;-54.0266876" />
<link rel="stylesheet" href="/style_7.css?v=1647015111" type="text/css" />
<link rel="stylesheet" href="/style.5601814.css?v=1356829975" type="text/css" />

<link href="https://fonts.googleapis.com/css?family=Istok+Web|Baumans|Anton|Cookie|Open+Sans|Satisfy|Amatic+SC" rel="stylesheet" type="text/css" />
<link rel="alternate" media="only screen and (max-width: 640px)" href="/m/videos/" />
<link rel="canonical" href="/videos/" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="/xml/syndication.rss" />
<link rel="alternate" type="application/atom+xml" title="ATOM" href="/xml/atom.xml" />
<link rel="icon" href="/favicon.ico?v=1294540759" type="image/x-icon" />
<link rel="shortcut icon" href="/favicon.ico?v=1294540759" type="image/x-icon" />
<script src="/js/jquery-1.8.3.min.js?v=1374829427" type="text/javascript"></script>
<script src="/js/jquery.tools-1.2.7.min.js?v=1383207878" type="text/javascript"></script>
<script src="/js/compress_jquery.ibox.js?v=1435566001" type="text/javascript"></script>
<script src="/js/compress_ibox_embed.js?v=1455033333" type="text/javascript"></script>
<script src="/js/compress_fonctions.js?v=1556804585" type="text/javascript"></script>
<script type="text/javascript">
/*<![CDATA[*//*---->*/
selected_page = ['video', ''];
var deploye6810548 = true;

function sfHover_6810548(id) {
	var func = 'hover';
	if ($('#css-responsive').length && parseInt($(window).width()) <= 800) { 
		func = 'click';
	}

	$('#' + id + ' li' + (func == 'click' ? ' > a' : '')).on(func, 
		function(e) { 
			var obj  = (func == 'click' ? $(this).parent('li') :  $(this));
			if (func == 'click') {
				$('#' + id + ' > li').each(function(index) { 
					if ($(this).attr('id') != obj.attr('id') && !$(this).find(obj).length) {
						$(this).find(' > ul:visible').each(function() { $(this).hide(); });
					}
				});
			}
			if(func == 'click' || e.type == 'mouseenter') { 
				if (obj.find('ul:first:hidden').length)	{
					sfHoverShow_6810548(obj); 
				} else if (func == 'click') {
					sfHoverHide_6810548(obj);
				}
				if (func == 'click' && obj.find('ul').length)	return false; 
			}
			else if (e.type == 'mouseleave') { sfHoverHide_6810548(obj); }
		}
	);
}
function sfHoverShow_6810548(obj) {
	obj.addClass('sfhover').css('z-index', 1000); obj.find('ul:first:hidden').each(function() { if ($(this).hasClass('lvl0')) $(this).show(); else $(this).show(); });
}
function sfHoverHide_6810548(obj) {
	obj.find('ul:visible').each(function() { if ($(this).hasClass('lvl0')) $(this).hide(); else $(this).hide();});
}

 var GBRedirectionMode = 'IF_FOUND';
/*--*//*]]>*/

</script>

<link rel="stylesheet" type="text/css" media="screen" href="/css/compress_video.css?v=1379331844" />


<!-- Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122826735-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122826735-1');
</script>

 
</head>

<body class="mep7 home">
<div id="main">
<!-- ********************************************** ZONE TITRE ********************************************** -->
<div id="main_inner">

<div id="z_col0">
<div class="z_col0_inner">
<table cellpadding="0" cellspacing="0" id="mod_6078772" class="mod_6078772 wm-module module-responsive  module-combo nb-modules-2" style="position:relative">
<tr>
<td class="celcombo1">
<!-- titre 23406344 -->
<div id="ecart_before_23406344" class="ecart_col0 " style="display:none"><hr /></div>
<div id="mod_23406344" class="mod_23406344 wm-module fullbackground "><div class="fullmod">
	 <h1 class="titre"><a href="/">Site de la Ville de Saint-Laurent du Maroni</a></h1>
</div></div>
</td>
<td class="celcombo2">
<!-- recherche 23406349 -->
<div id="ecart_before_23406349" class="ecart_col0 " style="display:none"><hr /></div>
<div id="mod_23406349" class="mod_23406349 wm-module fullbackground  recherche type-1">
	 <form id="form_23406349" action="/search/" method="get" enctype="application/x-www-form-urlencoded" >
		 <div class="cel1">
			 			 <span><span class="cel">
<input type="text" style="width:195px" id="keyword_safe_23406349" name="keyword_safe_23406349" value="Recherche" class="button" onfocus="this.style.display='none'; document.getElementById('keyword_23406349').style.display='inline'; document.getElementById('keyword_23406349').focus()" /><input type="text" style="display:none;width:195px" id="keyword_23406349" name="keyword" value="" class="button" onblur="if (this.value == '') {this.style.display='none'; document.getElementById('keyword_safe_23406349').style.display='inline';}"  />			 </span><span class="cel">
<input type="image" src="/photo/mod-23406349-1.png?v=1530185095" alt="OK" />
			 </span></span>
		 </div>
	 </form>
</div>
</td>
</tr>
</table>
<div id="ecart_after_6078772" class="ecart_col0" style="display:none"><hr /></div>

<!-- menu_deployable 6810548 -->
<div id="ecart_before_6810548" class="ecart_col0 " style="display:none"><hr /></div>
<div id="mod_6810548" class="mod_6810548 module-menu_deployable wm-module fullbackground  colonne-a type-2 background-cell- " >
	 <div class="main_menu">
		 <ul id="menuliste_6810548">
			 <li data-link="home," class=" titre first" id="menuliste_6810548_1"><a href="/" >Accueil</a></li>
			 <li data-link="rubrique,90296" class=" titre" id="menuliste_6810548_2"><a href="/La-mairie_r2.html" >Mairie</a>
			 	 <ul class="lvl0 ">
					 <li class="stitre responsive" style="display:none"><a href="/La-mairie_r2.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Mairie</a></li>
					 <li data-link="rubrique,90437" class=" stitre" ><a href="/Le-Maire-et-ses-elus_r4.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Le Maire et ses élus</a></li>
					 <li data-link="rubrique,113599" class=" stitre" ><a href="/Conseil-Municipal_r217.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Conseil Municipal</a></li>
					 <li data-link="rubrique,6243145" class=" stitre" ><a href="/Proces-Verbaux-des-Conseils-Municipaux_r296.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Procès Verbaux des Conseils Municipaux</a>
					 	 <ul class="lvlchildren ">
							 <li class="stitre responsive" style="display:none"><a href="/Proces-Verbaux-des-Conseils-Municipaux_r296.html" ><span class="fake-margin" style="display:none">&nbsp;</span><span class="fake-margin" style="display:none">&nbsp;</span>Procès Verbaux des Conseils Municipaux</a></li>
							 <li data-link="telechargement,21666" class=" stitre" ><a href="/downloads/Proces-Verbaux-des-Conseils-Municipaux-de-2009_t21666.html" ><span class="fake-margin" style="display:none">&nbsp;</span><span class="fake-margin" style="display:none">&nbsp;</span>2009</a></li>
							 <li data-link="telechargement,21665" class=" stitre" ><a href="/downloads/Proces-Verbaux-des-Conseils-Municipaux-de-2010_t21665.html" ><span class="fake-margin" style="display:none">&nbsp;</span><span class="fake-margin" style="display:none">&nbsp;</span>2010</a></li>
							 <li data-link="telechargement,21664" class=" stitre" ><a href="/downloads/Proces-Verbaux-des-Conseils-Municipaux-de-2011_t21664.html" ><span class="fake-margin" style="display:none">&nbsp;</span><span class="fake-margin" style="display:none">&nbsp;</span>2011</a></li>
							 <li data-link="telechargement,21663" class=" stitre" ><a href="/downloads/Proces-Verbaux-des-Conseils-Municipaux-de-2012_t21663.html" ><span class="fake-margin" style="display:none">&nbsp;</span><span class="fake-margin" style="display:none">&nbsp;</span>2012</a></li>
							 <li data-link="telechargement,21662" class=" stitre" ><a href="/downloads/Proces-Verbaux-des-Conseils-Municipaux-de-2013_t21662.html" ><span class="fake-margin" style="display:none">&nbsp;</span><span class="fake-margin" style="display:none">&nbsp;</span>2013</a></li>
							 <li data-link="telechargement,21661" class=" stitre" ><a href="/downloads/Proces-Verbaux-des-Conseils-Municipaux-de-2014_t21661.html" ><span class="fake-margin" style="display:none">&nbsp;</span><span class="fake-margin" style="display:none">&nbsp;</span>2014</a></li>
							 <li data-link="telechargement,21660" class=" stitre" ><a href="/downloads/Proces-Verbaux-des-Conseils-Municipaux-de-2015_t21660.html" ><span class="fake-margin" style="display:none">&nbsp;</span><span class="fake-margin" style="display:none">&nbsp;</span>2015</a></li>
							 <li data-link="telechargement,21659" class=" stitre" ><a href="/downloads/Proces-Verbaux-des-Conseils-Municipaux-de-2016_t21659.html" ><span class="fake-margin" style="display:none">&nbsp;</span><span class="fake-margin" style="display:none">&nbsp;</span>2016</a></li>
							 <li data-link="telechargement,21658" class=" stitre" ><a href="/downloads/Proces-Verbaux-des-Conseils-Municipaux-de-2017_t21658.html" ><span class="fake-margin" style="display:none">&nbsp;</span><span class="fake-margin" style="display:none">&nbsp;</span>2017</a></li>
							 <li data-link="telechargement,21657" class=" stitre" ><a href="/downloads/Proces-Verbaux-des-Conseils-Municipaux-de-2018_t21657.html" ><span class="fake-margin" style="display:none">&nbsp;</span><span class="fake-margin" style="display:none">&nbsp;</span>2018</a></li>
							 <li data-link="telechargement,21656" class=" stitre slast" ><a href="/downloads/Proces-Verbaux-des-Conseils-Municipaux-de-2019_t21656.html" ><span class="fake-margin" style="display:none">&nbsp;</span><span class="fake-margin" style="display:none">&nbsp;</span>2019</a></li>
						 </ul>
					 </li>
					 <li data-link="rubrique,90438" class=" stitre" ><a href="/Les-services-municipaux_r5.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Les services municipaux</a></li>
					 <li data-link="rubrique,91997" class=" stitre" ><a href="/Recrutement_r86.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Recrutement</a></li>
					 <li data-link="externe,http://saintlaurentdumaroni.e-marchespublics.com/" class=" stitre" ><a href="http://saintlaurentdumaroni.e-marchespublics.com/"  target="_blank"><span class="fake-margin" style="display:none">&nbsp;</span>Marchés publics</a></li>
					 <li data-link="rubrique,3332847" class=" stitre" ><a href="/Consultation-pour-travaux_r287.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Consultation pour travaux</a></li>
					 <li data-link="rubrique,708227" class=" stitre slast" ><a href="/La-parole-a-l-Opposition_r271.html" ><span class="fake-margin" style="display:none">&nbsp;</span>La parole à l'opposition</a></li>
				 </ul>
			 </li>
			 <li data-link="rubrique,90575" class=" titre" id="menuliste_6810548_3"><a href="/Vie-pratique_r16.html" >Vie pratique</a>
			 	 <ul class="lvl0 ">
					 <li class="stitre responsive" style="display:none"><a href="/Vie-pratique_r16.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Vie pratique</a></li>
					 <li data-link="rubrique,117908" class=" stitre" ><a href="/Se-loger_r220.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Logement</a></li>
					 <li data-link="rubrique,117910" class=" stitre" ><a href="/Se-soigner_r222.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Santé</a></li>
					 <li data-link="rubrique,117911" class=" stitre" ><a href="/Se-deplacer_r223.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Transport</a></li>
					 <li data-link="rubrique,117912" class=" stitre" ><a href="/Services-publics_r224.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Services publics</a></li>
					 <li data-link="rubrique,287888" class=" stitre slast" ><a href="/Tourisme_r238.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Tourisme</a></li>
				 </ul>
			 </li>
			 <li data-link="rubrique,287913" class=" titre" id="menuliste_6810548_4"><a href="/Culture-Patrimoine_r252.html" >Culture/Patrimoine</a>
			 	 <ul class="lvl0 ">
					 <li class="stitre responsive" style="display:none"><a href="/Culture-Patrimoine_r252.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Culture/Patrimoine</a></li>
					 <li data-link="rubrique,3329460" class=" stitre" ><a href="/Histoire-Patrimoine_r276.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Histoire &amp; Patrimoine</a></li>
					 <li data-link="rubrique,3329514" class=" stitre" ><a href="/Art-Expositions_r277.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Art &amp; Expositions</a></li>
					 <li data-link="rubrique,3329521" class=" stitre" ><a href="/Lecture_r278.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Lecture</a></li>
					 <li data-link="rubrique,3329522" class=" stitre" ><a href="/Musique-Danse_r279.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Musique &amp; Danse</a></li>
					 <li data-link="rubrique,3329523" class=" stitre" ><a href="/Cinema-Theatre_r280.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Cinéma &amp; Théâtre</a></li>
					 <li data-link="rubrique,3329524" class=" stitre slast" ><a href="/Activites-culturelles_r281.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Activités culturelles</a></li>
				 </ul>
			 </li>
			 <li data-link="rubrique,287914" class=" titre" id="menuliste_6810548_5"><a href="/Sport_r253.html" >Sport</a>
			 	 <ul class="lvl0 ">
					 <li class="stitre responsive" style="display:none"><a href="/Sport_r253.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Sport</a></li>
					 <li data-link="rubrique,287921" class=" stitre" ><a href="/Equipements-Municipaux_r260.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Equipements Municipaux</a></li>
					 <li data-link="rubrique,3329298" class=" stitre" ><a href="/Evenements-Sportifs_r274.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Evénements Sportifs</a></li>
					 <li data-link="rubrique,3329299" class=" stitre slast" ><a href="/Activites-Sportives_r275.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Activités Sportives</a></li>
				 </ul>
			 </li>
			 <li data-link="rubrique,287915" class=" titre" id="menuliste_6810548_6"><a href="/Education_r254.html" >Education</a>
			 	 <ul class="lvl0 ">
					 <li class="stitre responsive" style="display:none"><a href="/Education_r254.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Education</a></li>
					 <li data-link="rubrique,287924" class=" stitre" ><a href="/Maternelle-et-elementaire_r261.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Maternelle et élementaire</a></li>
					 <li data-link="rubrique,287925" class=" stitre" ><a href="/College-et-Lycee_r262.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Collège et Lycée</a></li>
					 <li data-link="rubrique,287926" class=" stitre" ><a href="/Enseignement-superieur-Formation_r263.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Enseignement supérieur/ Formation</a></li>
					 <li data-link="rubrique,3332415" class=" stitre slast" ><a href="/Periscolaire_r282.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Périscolaire</a></li>
				 </ul>
			 </li>
			 <li data-link="rubrique,287892" class=" titre" id="menuliste_6810548_7"><a href="/Amenagement-urbain_r242.html" >Aménagement urbain</a>
			 	 <ul class="lvl0 ">
					 <li class="stitre responsive" style="display:none"><a href="/Amenagement-urbain_r242.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Aménagement urbain</a></li>
					 <li data-link="rubrique,397153" class=" stitre" ><a href="/Plan-Local-d-Urbanisme_r266.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Plan Local d'Urbanisme</a></li>
					 <li data-link="rubrique,287899" class=" stitre" ><a href="/Formulaires-et-dossiers-a-telecharger_r248.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Formulaires et dossiers à télécharger</a></li>
					 <li data-link="rubrique,399657" class=" stitre" ><a href="/Travaux-et-projets_r267.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Travaux et projets</a></li>
					 <li data-link="rubrique,4930459" class=" stitre" ><a href="/Action-Coeur-de-Ville_r293.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Action Coeur de Ville</a></li>
					 <li data-link="rubrique,4930464" class=" stitre slast" ><a href="/NPNRU_r294.html" ><span class="fake-margin" style="display:none">&nbsp;</span>NPNRU</a></li>
				 </ul>
			 </li>
			 <li data-link="rubrique,287883" class=" titre" id="menuliste_6810548_8"><a href="/Economie-Emploi_r234.html" >Economie/Emploi</a>
			 	 <ul class="lvl0 ">
					 <li class="stitre responsive" style="display:none"><a href="/Economie-Emploi_r234.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Economie/Emploi</a></li>
					 <li data-link="rubrique,3332631" class=" stitre" ><a href="/Economie_r283.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Economie</a></li>
					 <li data-link="rubrique,3332632" class=" stitre" ><a href="/Emploi_r284.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Emploi</a></li>
					 <li data-link="rubrique,3332653" class=" stitre slast" ><a href="/Insertion_r285.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Insertion</a></li>
				 </ul>
			 </li>
			 <li data-link="rubrique,90580" class=" titre" id="menuliste_6810548_9"><a href="/Citoyennete_r21.html" >Citoyenneté</a>
			 	 <ul class="lvl0 ">
					 <li class="stitre responsive" style="display:none"><a href="/Citoyennete_r21.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Citoyenneté</a></li>
					 <li data-link="rubrique,111931" class=" stitre" ><a href="/Vie-citoyenne_r211.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Vie citoyenne</a></li>
					 <li data-link="rubrique,90590" class=" stitre" ><a href="/Election_r31.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Election </a></li>
					 <li data-link="rubrique,287894" class=" stitre" ><a href="/Proprete-urbaine_r243.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Propreté urbaine</a></li>
					 <li data-link="rubrique,287897" class=" stitre" ><a href="/Tranquilite-urbaine_r246.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Tranquilité urbaine</a></li>
					 <li data-link="rubrique,6140176" class=" stitre slast" ><a href="/Recensement_r295.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Recensement</a></li>
				 </ul>
			 </li>
			 <li data-link="rubrique,90587" class=" titre last" id="menuliste_6810548_10"><a href="/Associations_r28.html" >Associations</a>
			 	 <ul class="lvl0 ">
					 <li class="stitre responsive" style="display:none"><a href="/Associations_r28.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Associations</a></li>
					 <li data-link="rubrique,3332695" class=" stitre" ><a href="/Vie-associative_r286.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Vie associative</a></li>
					 <li data-link="rubrique,104729" class=" stitre slast" ><a href="/Repertoire-des-associations_r206.html" ><span class="fake-margin" style="display:none">&nbsp;</span>Répertoire des associations</a></li>
				 </ul>
			 </li>
		 </ul>
	 <div class="break" style="_height:auto;"></div>
	 </div>
	 <div class="clear"></div>
	 <script type="text/javascript">sfHover_6810548('menuliste_6810548')</script>
</div>
</div>
</div>
<!-- ********************************************** FIN ZONE TITRE ****************************************** -->

<div id="z_centre">
<div class="z_centre_inner">

<!-- ********************************************** COLONNE unique ********************************************** -->
<%=yield%>
<!-- ********************************************** FIN COLONNE unique ****************************************** -->

</div>

</div>

</div>

</div>
<!-- ********************************************** ZONE OURS FULL ***************************************** -->
<div id="z_col100" class="full">
<div class="z_col100_inner">

<!-- ours 5601806 -->
<div id="mod_5601806" class="mod_5601806 wm-module fullbackground  module-ours"><div class="fullmod">
	 <div class="legal">
		 Mairie de Saint-Laurent du Maroni 		 <br />
		 Avenue Lieutenant-Colonel Chandon - BP 80 - 97320 Saint-Laurent du Maroni		 <br />
		 Tél. : 0594.34.03.00 - Télécopie : 0594.34.20.93
	 </div>
	 <div class="bouton">
		 <a href="/admin/">Accès membres</a>
		 <span> | </span>
		 <a href="/sitemap/">Plan du site</a>
		 <span> | </span>
		 <img src="/_images/icones/rssmini.gif" alt="RSS" class="image" /> <a href="/feeds/">Syndication</a>
		 <span> | </span>
		 <a href="/subscription/">Inscription au site</a>
		 <span> | </span>
		 <a href="http://www.wmaker.net/" target="_blank" title="Créer son site web avec WMaker.net">Powered by WM</a>
	</div>
</div></div>
</div>
<!-- ********************************************** FIN ZONE OURS FULL ************************************* -->
</div>
<%=yield :overlay%>

<script type="text/javascript">
/*<![CDATA[*//*---->*/

$(function() {
    var ok_search = false;
    var search = document.location.pathname.replace(/^(.*)\/search\/([^\/]+)\/?(.*)$/, '$2');
    if (search != '' && search != document.location.pathname)	{ 
        ok_search = true;
    } else {
        search = document.location.search.replace(/^\?(.*)&?keyword=([^&]*)&?(.*)/, '$2');
        if (search != '' && search != document.location.search)	{
            ok_search = true;
        }
    }
    if (ok_search) {
        $('#icon-search-23406349').trigger('click');
        $('#keyword_safe_23406349').hide(); 
        $('#keyword_23406349').val(decodeURIComponent(search).replace('+', ' ')).show();
    }
init_ibox();
});

    var documentBody = (($.browser.chrome)||($.browser.safari)) ? document.body : document.documentElement;
    function getVideoPage(dom, lien){
    	obj_ajax =  $('#' + dom);
    	var obj_h = obj_ajax.height();
        var obj_w = obj_ajax.width();
    	var loader = $('<div style="position: absolute; height: ' + obj_h + 'px; width: ' + obj_w + 'px; top: 0; left: 0; margin-bottom: -' + obj_h + 'px; background: white url(/_images/icones/ajax-loader.gif) center 50% no-repeat; filter: alpha(opacity:80); opacity: 0.8;"><' + '/div>');
      
        obj_ajax.append(loader);
        recharge(dom, '/', '', lien);                                                    
        }
        
        function readVideo(dom, lien){	
             $(documentBody).animate({scrollTop: $('#mod_5601793').offset().top}, 600, 'swing', function() { recharge(dom, '/', '', lien); });
        }
$(documentBody).animate({scrollTop: $('#mod_5601793').offset().top}, 1000);

/*--*//*]]>*/
</script>
<%=yield :mapgoogle%>
</body>

</html>
