<div class="z_colonne main-colonne" id="z_col2">
<div class="z_col_median z_col2_inner">
<div id="mod_5601814" class="mod_5601814 wm-module fullbackground  module-page2_inscription">
	 <div class="cel1">
		 <h3 class="titre">Inscription au site</h3>
		 <br class="explication" />
		 <div class="explication">Pour vous inscrire à notre site, veuillez fournir les informations suivantes.</div>
		 <br class="explication" />
		 <%=render "formuser", user: @user%>
	 </div>
</div>
<div id="ecart_after_5601814" class="ecart_col2"><hr /></div>
</div>
</div>


<%=content_for :mapgoogle do%>
<script src="/js/jquery.tools-1.2.7.min.js?v=1383207878" type="text/javascript"></script>
<script src="/js/compress_jquery.ibox.js?v=1435566001" type="text/javascript"></script>
<script src="/js/form.js?v=1291969975" type="text/javascript"></script>
<script src="/js/compress_ibox_embed.js?v=1455033333" type="text/javascript"></script>

<%end%>
<%=content_for :mysheet do%>
<link href="/style.5601814.css" rel="stylesheet" type="text/css">

<%end%>